* { box-sizing: border-box; }

html {
    font-size: 100%;
}

body {
    font-family: "raleway", arial, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, main, footer section {
    max-width: 1380px;
    width: 100%;
}

header, main, footer section {
    padding: 0px 20px;
}

@media all and (max-width: 768px) {
    header, main {
        padding: 0px 0px;
    }
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.7em; width: 100%;}
h3 { font-size: 1.4em; }