/*-------------------------------- HEADER ----------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
}

@media all and (max-width: 768px) {
    header { margin: 35px 0px 30px 0px; height: 100%; }
}

/*--------- HEADER LOGO---------*/

header p  {
    margin: 0px;
}

@media all and (max-width: 768px) {
    header p  {
        position: absolute;
        top: 33px;
        left: 20px;
    }
}

header p img {
    width: 94px;
}

/*--------- HEADER NAV---------*/

header nav {
    display: flex;
    flex-direction: row;
    margin: 0px; 
    height: 100%;
}

@media all and (max-width: 768px) {
    header nav {
        width: 100%;;
    }  
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

@media all and (max-width: 768px) {
    header nav ul {
        flex-wrap: wrap;
        width: 100%;
    }   
}

header nav ul li {
    margin: 0px 0px 0px 22px;
    padding: 0px 23px;
    list-style: none;
    border-top: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li:first-child {
    order: 1;
}

header nav ul li:nth-child(2) {
    order: 2;
}

header nav ul li:nth-child(3) {
    order: 3;
}

header nav ul li:first-child:hover, 
header nav ul li:nth-child(2):hover {
    border-top: 3px solid #0065fc;
}

header nav ul li:hover a {
    color: #0065fc !important;
}

@media all and (max-width: 768px) {
    header nav ul li:first-child {
        order: 2;
    }
    
    header nav ul li:nth-child(2) {
        order: 3;
    }
    
    header nav ul li:nth-child(3) {
        order: 1;
        width: 100%;
        padding: 0px;
        margin: 0px;
    } 
}

header nav ul li:first-child a, 
header nav ul li:nth-child(2) a {
    color: black;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 22px;
}

header nav li:nth-child(3) a {
    color: #0065fc;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    border-top: 3px solid white;
    padding-bottom: 22px;
}

@media all and (max-width: 768px) {
    header nav, header nav ul { 
        width: 100%;
        padding: 0px;
    }
    header nav ul li:first-child, 
    header nav ul li:nth-child(2) { 
        border-bottom: 3px solid #d9d9d9;
        width: 50%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 15px 0px;
        cursor: pointer;
        border-top: none;
        display: unset;
    }
    header nav ul li:first-child:hover,
    header nav ul li:nth-child(2):hover {
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    header nav ul li:nth-child(3) { 
        display: flex;
        justify-content: flex-end;
        margin-bottom: 36px;
    }

    header nav li:nth-child(3) a {
        padding-bottom: 0px;
    }

    header nav ul li a {
        margin-bottom: 0px;
    }
}