html {
    font-size: 100%;
}

body {
    font-family: raleway, arial, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    box-sizing: border-box;
}

header, main, footer section {
    width: 1340px;
    margin: auto;
    box-sizing: border-box;
}

@media  only screen and (max-width: 1440px){
    header, main, footer section { width: 100%; }
}

@media  only screen and (max-width: 1440px) and (min-width: 768px){
    main, header { padding: 0 20px;}
}

/*-------------------------------- HEADER ----------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
}

@media  only screen and (max-width: 1440px) {
    header { margin: 35px 0px 35px 0px; height: 100%; }
}

/*--------- HEADER LOGO---------*/

header p  {
    margin: 0px;
}

@media  only screen and (max-width: 768px) {
    header p  {
        position: absolute;
        top: 33px;
        left: 20px;
    }
}

header p img {
    width: 94px;
}

/*--------- HEADER NAV---------*/

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px; 
    height: 100%;
}

@media  only screen and (max-width: 768px) {
    header nav { 
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0px 0px 0px 0px;
    }
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header nav ul li {
    margin: 0px 70px 0px 0px;
    list-style: none;
    border-top: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li:hover {
    border-top: 3px solid #0065fc;
}

header nav ul li a {
    color: black;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 22px;
}

header nav ul li a:hover {
    color: #0065fc;
}


@media  only screen and (max-width: 768px) {
    header nav, header nav ul { 
        width: 100%;
        padding: 0px;
        height: unset;
    }
    header nav ul li { 
        border-bottom: 3px solid #d9d9d9;
        width: 50%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        cursor: pointer;
        border-top: none;
        display: unset;
    }
    header nav ul li:hover {
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    header nav ul li a {
        margin-bottom: 0px;
    }
    header nav ul li:hover a {
        color: #0065fc;
    }
}

header nav a.inscription {
    color: #0065fc;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    border-top: 3px solid white;
    padding-bottom: 22px;
}

@media  only screen and (max-width: 768px) {
    header nav a.inscription {
        margin: 7px 20px 30px 20px;
        list-style: none;
        padding-bottom: 0px;
        border-top: none;
    }
}

/*-------------------------------- INTRODUCTION ----------------------------------*/

#introduction {
    margin: 0px 0px 40px 0px;
}

@media  only screen and (max-width: 768px){
    #introduction, #activite { padding: 0 20px; }
}

#introduction h1 {
    font-weight: 700;
    margin: 0px;
    font-size: 1.7em;
}

#introduction p.intro {
    font-weight: 300;
    font-size: 1.25em;
    margin: 06px 0px 20px 0px;
}

/*--------- INTRODUCTION  FORM RECHERCHE---------*/

#introduction form {
    height: 48px;
    width: 420px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

@media  only screen and (max-width: 768px){
    #introduction form { width: 100%; }   
}

#introduction form p  {
    margin: 0px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

#introduction form p i {
    margin: 18px;
    font-size: 1.3em;
}

#introduction form input[type="text"] {
    height: 46px;
    border: none;
    flex: 3;
}

#introduction form button.desktop, #introduction form button.phone {
    height: 50px;
    border: none;
    background-color: #0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.45em;
    font-weight: 500;
    font-weight: 400;
    padding: 0px 17px;
}

#introduction form button.phone {
    display: none;
}

@media  only screen and (max-width: 768px) {
    #introduction form button.phone {
        display: block;
        border-radius: 15px;
    }
    #introduction form button.desktop {
        display: none;
    }
}

/*--------- INTRODUCTION FILTRE ---------*/

#introduction .filtres {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 20px 0px;
    align-items: center;
    flex-wrap: wrap;
}


#introduction .filtres p.titre {
    font-weight: 600;
    font-size: 1.4em;
    margin: 0px 33px 0px 10px;
}

@media  only screen and (max-width: 768px) {
    #introduction .filtres p.titre {
        width: 100%;
        margin-bottom: 18px;
    }
}

#introduction .filtres div {
    height: 46px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

#introduction .filtres div:hover {
    border-top: 2px solid #deebff;
    border-bottom: 2px solid #deebff;
    border-right: 2px solid #deebff;
    background-color: #deebff;
    transition: 0.8s;
    box-shadow: 2px 2px 2px #d9d9d9;
}

#introduction .filtres div:not(:hover) {
    transition: 0.8s;
}

#introduction .filtres p.icone {
    margin: 0px 0px 0px 0px;
    background-color: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction .filtres p.icone i {
    color: #0065fc;
    font-size: 1.3em;
}

#introduction .filtres div p.texte {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0px 25px 0 15px;
    white-space: nowrap;
}

p.resultat {
    font-weight: 300;
    font-size: 1.25em;
    display: flex;
    align-items: center;
}

p.resultat span {
    display: inline-block;
    border: 1px solid #d9d9d9;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 14px 0px 5px;
}

p.resultat span i {
    color: #0065fc;
    font-size: 0.75em;
}

/*-------------------------------- HEBERGEMENT ----------------------------------*/

section#hebergement {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
    justify-content: space-between;
}

@media  only screen and (max-width: 1024px){
    section#hebergement { flex-direction: column-reverse; } 
}

/*--------- HEBERGEMENT  MARSEILLE AND POPULAIRE COMMUN ---------*/

section#hebergement .marseille, 
section#hebergement .populaire {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 43px 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

section#hebergement .marseille {
    width: 66%;
    /*margin-right: 4%;*/
}

section#hebergement .populaire {
    width: 32%;
}

@media  only screen and (max-width: 1024px) {
    section#hebergement .marseille, 
    section#hebergement .populaire {
        width: 100%;
        margin-right: 0px;
        padding: 20px !important;
    }
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille, 
    section#hebergement .populaire {
        border-radius: 0px !important;
        flex-wrap: nowrap;
    }
}

section#hebergement h2 {
    font-size: 1.7em;
    margin: 0px 0px 24px 0px;
    display: flex;
    justify-content: space-between;
}

section#hebergement .marseille a, 
section#hebergement .populaire a {
    margin-bottom: 33px;
}

section#hebergement .populaire a:last-child {
    margin-bottom: 0px;
}

section#hebergement .marseille .ligne_01 div,
section#hebergement .marseille .ligne_02 div,
section#hebergement .populaire div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

section#hebergement .marseille div  p,
section#hebergement .populaire div p {
    background-color: white;
    margin: 0px;
    color: black;
    border-radius: 0px 0px 15px 15px;
}

section#hebergement p .titre {
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 6px;
    display: block;
}

section#hebergement p .prix {
    font-weight: 400;
    display: block;
    margin-bottom: 6px;
    font-size: 1.1em;
}

section#hebergement .etoiles {
    font-size: 0.9em;
}

section#hebergement .etoiles .bleu,
section#hebergement .etoiles .bleu {
    color: #0065fc;
}

section#hebergement p .etoiles .grise,
section#hebergement p .etoiles .grise {
    color: #d9d9d9;
}

/*--------- HEBERGEMENT  MARSEILLE---------*/

section#hebergement .marseille .ligne_01, 
section#hebergement .marseille .ligne_02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille .ligne_01, 
    section#hebergement .marseille .ligne_02 {
        flex-direction: column;
    }
}

section#hebergement .marseille .ligne_01 div, 
section#hebergement .marseille .ligne_02 div {
    height: 200px;
    width: 100%;
}

section#hebergement .marseille .ligne_01 div img,
section#hebergement .marseille .ligne_02 div img {
    width: 100%;
    height: 119px;
    object-fit: cover;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
}

section#hebergement .marseille a { 
    flex-basis: 30%;
    text-decoration: none;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille div {
        width: 100%;
    }
    section#hebergement .marseille a { 
        width: 100%;
    }
}

@media  only screen and (max-width: 1024px) {
    section#hebergement .marseille { margin-right: 0px; width: 100%;}
}

section#hebergement .marseille p {
    padding: 7px 12px 9px 17px;
}

.link-bottom {
    margin: 0px;
    padding: 0px !important;
}

.link-bottom a {
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-bottom: 0px !important;
}

/*--------- HEBERGEMENT  POPULAIRE ---------*/

section#hebergement .populaire a { width: 100%; text-decoration: none; }

section#hebergement .populaire div {
    height: 144px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

section#hebergement .populaire div img {
    min-width: 128px;
    height: 144px;
    object-fit: cover;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire h2 {width: 100%;}
    section#hebergement .populaire a { width: 32%; }
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

section#hebergement div.populaire p  {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 40px 9px 21px;
    box-sizing: border-box;
    border-radius: 0px 15px 15px 0px;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement div.populaire p  {
        padding: 10px;
    }
}

@media  only screen and (max-width: 768px) {
    section#hebergement div.populaire p  {
        width: 100%;
    }
}

section#hebergement .populaire .etoiles {
    margin-top: auto;
}


/*-------------------------------- ACTIVITE ----------------------------------*/

#activite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activite h2 {
    width: 100%;
}

#activite div {
    background-image: url(../images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    flex: 1;
}

/*-------------------------------- FOOTER ----------------------------------*/
footer {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0px;
}

@media  only screen and (max-width: 1440px) {
    footer section {
        padding: 20px;
    } 
}

@media  only screen and (max-width: 768px) {
    footer section { flex-direction: column; }  
}

footer section div h3 {
    font-weight: 600;
}

footer section div ul {
    margin: 0px;
    padding: 0px;
}

footer section div ul li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
}