html {
    font-size: 100%;
}

body {
    font-family: raleway, arial, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    box-sizing: border-box;
}

header, main, footer section {
    width: 1335px;
    margin: auto;
    box-sizing: border-box;
}

@media  only screen and (max-width: 1440px){
    header, main, footer section { width: 100%; }
}

@media  only screen and (max-width: 1440px) and (min-width: 768px){
    main, header { padding: 0 20px;}
}

/*-------------------------------- HEADER ----------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
}

@media  only screen and (max-width: 1440px) {
    header { margin: 35px 0px 35px 0px; height: 100%; }
}

/*--------- HEADER LOGO---------*/

header p  {
    margin: 0px;
}

@media  only screen and (max-width: 768px) {
    header p  {
        position: absolute;
        top: 33px;
        left: 20px;
    }
}

header p img {
    width: 94px;
}

/*--------- HEADER NAV---------*/

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px; 
    height: 100%;
}

@media  only screen and (max-width: 768px) {
    header nav { 
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0px 0px 0px 0px;
    }
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header nav ul li {
    margin: 0px 70px 0px 0px;
    list-style: none;
    border-top: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li:hover {
    border-top: 3px solid #0065fc;
}

header nav ul li a {
    color: black;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 22px;
}

header nav ul li a:hover {
    color: #0065fc;
}


@media  only screen and (max-width: 768px) {
    header nav, header nav ul { 
        width: 100%;
        padding: 0px;
        height: unset;
    }
    header nav ul li { 
        border-bottom: 3px solid #d9d9d9;
        width: 50%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        cursor: pointer;
        border-top: none;
        display: unset;
    }
    header nav ul li:hover {
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    header nav ul li a {
        margin-bottom: 0px;
    }
    header nav ul li:hover a {
        color: #0065fc;
    }
}

header nav a.inscription {
    color: #0065fc;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    border-top: 3px solid white;
    padding-bottom: 22px;
}

@media  only screen and (max-width: 768px) {
    header nav a.inscription {
        margin: 7px 20px 30px 20px;
        list-style: none;
        padding-bottom: 0px;
        border-top: none;
    }
}

/*-------------------------------- INTRODUCTION ----------------------------------*/

#introduction {
    margin: 0px 0px 40px 0px;
}

@media  only screen and (max-width: 768px){
    #introduction, #activite { padding: 0 20px; }
}

#introduction h1 {
    font-weight: 900;
    margin: 0px;
}

#introduction p {
    font-weight: 300;
}

#introduction form {
    border: 1px solid #d9d9d9;
    height: 50px;
    width: 420px;
    border-radius: 15px;
}

@media  only screen and (max-width: 768px){
    #introduction form { width: 100%; }   
}

#introduction .filtres {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

#introduction .filtres p {
    margin: 0px;
}

/*-------------------------------- HEBERGEMENT ----------------------------------*/

section#hebergement {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
}

@media  only screen and (max-width: 1024px){
    section#hebergement { flex-direction: column-reverse; } 
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille, section#hebergement .populaire {
        border-radius: 0px !important;
        flex-wrap: nowrap;
        padding: 20px !important;
    }
}

/*--------- HEBERGEMENT  MARSEILLE---------*/

section#hebergement .marseille{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section#hebergement .marseille {
    flex: 3;
    margin-right: 40px;
}

section#hebergement .marseille .ligne_01, section#hebergement .marseille .ligne_02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille .ligne_01, 
    section#hebergement .marseille .ligne_02 {
        flex-direction: column;
    }
}

section#hebergement .marseille div.hebergement_01, section#hebergement .populaire div.populaire_01 {
    border: 5px solid white;
    border-radius: 15px;
    margin: 0px 0px 30px 0px;
    background-image: url(../images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
}

section#hebergement .marseille a { 
    width: 28%;
    text-decoration: none;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille div.hebergement_01 {
        width: 100%;
    }
    section#hebergement .marseille a { 
        width: 100%;
    }
}

@media  only screen and (max-width: 1024px) {
    section#hebergement div.marseille { margin-right: 0px; flex: 1;}
}

/*--------- HEBERGEMENT  POPULAIRE ---------*/

section#hebergement .populaire div.populaire_01 { width: 100%; }

section#hebergement .populaire {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    section#hebergement .populaire h2 {width: 100%;}
    section#hebergement .populaire div.populaire_01 { width: 28%; }
}

section#hebergement div.populaire {
    flex: 1;
}

section#hebergement div.ligne_01 p,
section#hebergement div.ligne_02 p,
section#hebergement div.populaire p  {
    background-color: white;
    padding: 13px;
    margin: 0px;
}

section#hebergement p .titre {
    font-weight: 700;
}

section#hebergement p .prix {
    font-weight: 400;
}

section#hebergement .etoiles .bleu,
section#hebergement .etoiles .bleu {
    color: #0065fc;
}

section#hebergement p .etoiles .grise,
section#hebergement p .etoiles .grise {
    color: #d9d9d9;
}

/*-------------------------------- ACTIVITE ----------------------------------*/

/*-------------------------------- FOOTER ----------------------------------*/
footer {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0px;
}

@media  only screen and (max-width: 1440px) {
    footer section {
        padding: 20px;
    } 
}

@media  only screen and (max-width: 768px) {
    footer section { flex-direction: column; }  
}

footer section div h3 {
    font-weight: 600;
}

footer section div ul {
    margin: 0px;
    padding: 0px;
}

footer section div ul li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
}