html {
    font-size: 100%;
}

body {
    font-family: raleway, arial, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    box-sizing: border-box;
}

header, main, footer section {
    width: 1340px;
    margin: auto;
    box-sizing: border-box;
}

@media  only screen and (max-width: 1440px){
    header, main, footer section { width: 100%; }
}

@media  only screen and (max-width: 1440px) and (min-width: 768px){
    main, header { padding: 0 20px;}
}

h2 {
    font-size: 1.7em;}

/*-------------------------------- HEADER ----------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
}

@media  only screen and (max-width: 768px) {
    header { margin: 35px 0px 35px 0px; height: 100%; }
}

/*--------- HEADER LOGO---------*/

header p  {
    margin: 0px;
}

@media  only screen and (max-width: 768px) {
    header p  {
        position: absolute;
        top: 33px;
        left: 20px;
    }
}

header p img {
    width: 94px;
}

/*--------- HEADER NAV---------*/

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px; 
    height: 100%;
}

@media  only screen and (max-width: 768px) {
    header nav { 
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0px 0px 0px 0px;
    }
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header nav ul li {
    margin: 0px 70px 0px 0px;
    list-style: none;
    border-top: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li:hover {
    border-top: 3px solid #0065fc;
}

header nav ul li a {
    color: black;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 22px;
}

header nav ul li a:hover {
    color: #0065fc;
}


@media  only screen and (max-width: 768px) {
    header nav, header nav ul { 
        width: 100%;
        padding: 0px;
        height: unset;
    }
    header nav ul li { 
        border-bottom: 3px solid #d9d9d9;
        width: 50%;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        cursor: pointer;
        border-top: none;
        display: unset;
    }
    header nav ul li:hover {
        margin: 0px 0px 0px 0px;
        padding-bottom: 15px;
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    header nav ul li a {
        margin-bottom: 0px;
    }
    header nav ul li:hover a {
        color: #0065fc;
    }
}

header nav a.inscription {
    color: #0065fc;
    font-weight: 600;
    text-decoration: none;
    margin-right: 25px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    border-top: 3px solid white;
    padding-bottom: 22px;
}

@media  only screen and (max-width: 768px) {
    header nav a.inscription {
        margin: 7px 20px 30px 20px;
        list-style: none;
        padding-bottom: 0px;
        border-top: none;
    }
}

/*-------------------------------- INTRODUCTION ----------------------------------*/

#introduction {
    margin: 0px 0px 40px 0px;
}

@media  only screen and (max-width: 768px){
    #introduction, #activite { padding: 0 20px; }
}

#introduction h1 {
    font-weight: 700;
    margin: 0px;
    font-size: 1.7em;
}

#introduction p.intro {
    font-weight: 300;
    font-size: 1.25em;
    margin: 06px 0px 20px 0px;
}

/*--------- INTRODUCTION  FORM RECHERCHE---------*/

#introduction form {
    height: 48px;
    width: 420px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

@media  only screen and (max-width: 768px){
    #introduction form { width: 100%; }   
}

#introduction form p  {
    margin: 0px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

#introduction form p i {
    margin: 18px;
    font-size: 1.3em;
}

#introduction form input[type="text"] {
    height: 48px;
    border: none;
    flex: 3;
    font-size: 1.4em;
    font-weight: 700;
    padding: 0px 0px 0px 17px;
    box-sizing: border-box;
}

#introduction form input[type="text"]::placeholder {
    font-weight: 400;
    color: grey;
}

#introduction form button.desktop, #introduction form button.phone {
    height: 48px;
    border: none;
    background-color: #0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.5em;
    font-weight: 500;
    font-weight: 400;
    padding: 0px 17px;
    cursor: pointer;
}

#introduction form button.phone {
    display: none;
}

@media  only screen and (max-width: 768px) {
    #introduction form button.phone {
        display: block;
        border-radius: 15px;
    }
    #introduction form button.desktop {
        display: none;
    }
}

/*--------- INTRODUCTION FILTRE ---------*/

#introduction .filtres {
    display: flex;
    flex-direction: row;
    margin: 30px 0px 20px 0px;
    align-items: center;
    flex-wrap: wrap;
}


#introduction .filtres p.titre {
    font-weight: 600;
    font-size: 1.4em;
    margin: 0px 33px 15px 10px;
}

@media  only screen and (max-width: 768px) {
    #introduction .filtres p.titre {
        width: 100%;
        margin-bottom: 18px;
    }
}

#introduction .filtres div {
    height: 46px;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

#introduction .filtres div:hover {
    border-top: 2px solid #deebff;
    border-bottom: 2px solid #deebff;
    border-right: 2px solid #deebff;
    background-color: #deebff;
    transition: 0.8s;
    box-shadow: 2px 2px 2px #d9d9d9;
}

#introduction .filtres div:not(:hover) {
    transition: 0.8s;
}

#introduction .filtres p.icone {
    margin: 0px 0px 0px 0px;
    background-color: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction .filtres p.icone i {
    color: #0065fc;
    font-size: 1.3em;
}

#introduction .filtres div p.texte {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0px 25px 0 15px;
    white-space: nowrap;
}

p.resultat {
    font-weight: 300;
    font-size: 1.25em;
    display: flex;
    align-items: center;
}

p.resultat span {
    display: inline-block;
    border: 1px solid #d9d9d9;
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 14px 0px 5px;
}

p.resultat span i {
    color: #0065fc;
    font-size: 0.75em;
}

/*-------------------------------- HEBERGEMENT ----------------------------------*/

section#hebergement {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
    justify-content: space-between;
}

@media  only screen and (max-width: 1024px){
    section#hebergement { flex-direction: column-reverse; } 
}

/*--------- HEBERGEMENT  MARSEILLE AND POPULAIRE COMMUN ---------*/

section#hebergement .marseille, 
section#hebergement .populaire {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 43px 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

section#hebergement .marseille { width: 65.5%; }
section#hebergement .populaire { width: 31.5%; }

@media  only screen and (max-width: 1024px) {
    section#hebergement .marseille, 
    section#hebergement .populaire {
        width: 100%;
        margin-right: 0px;
        padding: 20px !important;
    }
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille, 
    section#hebergement .populaire {
        border-radius: 0px !important;
        flex-wrap: nowrap;
    }
}

section#hebergement h2 {
    margin: 0px 0px 24px 0px;
    display: flex;
    justify-content: space-between;
}

section#hebergement .marseille .ligne_01 figure,
section#hebergement .marseille .ligne_02 figure,
section#hebergement .populaire figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0px 0px 30px 0px;
}

section#hebergement .marseille figure figcaption,
section#hebergement .populaire figure figcaption {
    background-color: white;
    margin: 0px;
    color: black;
}

section#hebergement .marseille figure figcaption a,
section#hebergement .populaire figure figcaption a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

section#hebergement figcaption .titre {
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 6px;
    display: block;
}

section#hebergement figcaption .prix {
    font-weight: 400;
    display: block;
    margin-bottom: 6px;
    font-size: 1.1em;
}

section#hebergement .etoiles {
    font-size: 1em;
}

section#hebergement .etoiles .bleu,
section#hebergement .etoiles .bleu {
    color: #0065fc;
}

section#hebergement figcaption .etoiles .grise,
section#hebergement figcaption .etoiles .grise {
    color: #d9d9d9;
}

/*--------- HEBERGEMENT  MARSEILLE---------*/

section#hebergement .marseille .ligne_01, 
section#hebergement .marseille .ligne_02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille .ligne_01, 
    section#hebergement .marseille .ligne_02 {
        flex-direction: column;
    }
}

section#hebergement .marseille .ligne_01 figure, 
section#hebergement .marseille .ligne_02 figure {
    height: 200px;
    width: 100%;
    flex-basis: 31%;
}


section#hebergement  .marseille figure a {
    display: inline-block;
    width: 100%;
    height: 119px;
}

section#hebergement .marseille .ligne_01 figure a img,
section#hebergement .marseille .ligne_02 figure a img {
    width: 100%;
    height: 119px;
    object-fit: cover;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

@media  only screen and (max-width: 768px) {
    section#hebergement .marseille figure {
        width: 100%;
    }
}

@media  only screen and (max-width: 1024px) {
    section#hebergement .marseille { margin-right: 0px; width: 100%;}
}

section#hebergement .marseille figcaption {
    border-radius: 0px 0px 20px 20px;
}

section#hebergement .marseille figcaption a {
    padding: 7px 12px 9px 17px;
}

.link-bottom {
    margin: 0px;
    padding: 0px !important;
}

.link-bottom a {
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-bottom: 0px !important;
}

/*--------- HEBERGEMENT  POPULAIRE ---------*/

section#hebergement .populaire figure {
    height: 144px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

section#hebergement .populaire figure:last-child {
    margin-bottom: 0px;
}

section#hebergement .populaire figure a  {
    min-width: 128px;
    height: 144px;
}

section#hebergement .populaire figure img {
    min-width: 128px;
    height: 144px;
    object-fit: cover;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire h2 {width: 100%;}
    section#hebergement .populaire figure { width: 32%; }
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

section#hebergement .populaire figcaption {
    height: 100%;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
}

section#hebergement .populaire figcaption a {
    padding: 14px 40px 9px 21px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    section#hebergement .populaire figcaption a {
        padding: 10px;
    }
}

@media  only screen and (min-width: 1024px) and (max-width: 1440px) {
    section#hebergement .populaire figcaption a {
        padding: 14px 21px 9px 21px;
    }
}

@media  only screen and (max-width: 768px) {
    section#hebergement .populaire figcaption  {
        width: 100%;
    }
}

section#hebergement .populaire .etoiles {
    margin-top: auto;
}


/*-------------------------------- ACTIVITE ----------------------------------*/

#activite  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media  only screen and (max-width: 768px) {
    #activite  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#activite h2 {
    width: 100%;
}

#activite figure {
    margin: 0px;
}

@media  only screen and (min-width: 1440px) {
    #activite .block1, 
    #activite .colonne, 
    #activite .block4 {
        min-width: 300px;
        width: 300px;
    }
}

#activite .block1, 
#activite .colonne, 
#activite .block4 {
    height: 446px;
    flex-basis: 23%;
}

@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    #activite .block1, 
    #activite .colonne, 
    #activite .block4 {
    height: 416px;
    flex-basis: 22.5%;
    }
}

#activite .colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
}

#activite figure {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px #e9e7e7;
}

#activite .block2, 
#activite .block5 {
    margin-bottom: 44px;
}

@media  only screen and (max-width: 1024px) {
    #activite .block2, 
    #activite .block5 {
        margin-bottom: 25px;
    }
}

@media  only screen and (max-width: 768px) {
    #activite .block1, 
    #activite .block2, 
    #activite .block3, 
    #activite .block4, 
    #activite .block5, 
    #activite .block6 {
        margin-bottom: 25px;
    }
}

#activite a {
    text-decoration: none;
    color: black;
    display: flex;
}

#activite figure img,
#activite figure a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#activite .block2 img {
    max-height: 180px;
}

#activite .block3 img {
    max-height: 108px;
}

#activite .block5 img {
    max-height: 138px;
}

#activite .block6 img {
    max-height: 152px;
}

@media  only screen and (max-width: 768px) {
    #activite figure img,
    #activite figure a {
        max-height: 132px;
    }
}

#activite figure figcaption {
    border-radius: 0px 0px 20px 20px;
}

#activite figure figcaption a {
    background-color: white;
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 18px;
    height: 56px;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
}

/*-------------------------------- FOOTER ----------------------------------*/
footer {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 0px;
    padding: 50px 0px;
}

@media  only screen and (max-width: 1440px) {
    footer section {
        padding: 50px 20px;
    } 
}

@media  only screen and (max-width: 768px) {
    footer section { flex-direction: column; }  
}

footer section div h3 {
    font-weight: 600;
    margin-top: 0px;
    font-size: 1.4em;
}

footer section div ul {
    margin: 0px;
    padding: 0px;
}

@media  only screen and (max-width: 768px) {
    footer section div ul {
        margin-bottom: 42px;
    }
}

footer section div ul:first-child, 
footer section div ul:nth-child(2) {
    margin-right: 70px;
}

@media  only screen and (min-width: 1440px) {
    footer section div ul:first-child, 
footer section div ul:nth-child(2) {
    margin-right: 230px;
} 
}

footer section div ul li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
}

footer section div ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}